.bg-image {
  position: absolute;
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &:before {
    position: relative;
    content: '';
    width: 100%;
    display: block;
  }
}