@font-face {
  font-family: 'VinylRegular';
  src: url('./../fonts/VinylOT/VinylRegular.woff2') format('woff2'),
  url('./../fonts/VinylOT/VinylRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

//@font-face {
//  font-family: 'Arial-bold';
//  src: url('./../fonts/arial/Arial-BoldMT.woff2') format('woff2'),
//  url('./../fonts/arial/Arial-BoldMT.woff') format('woff');
//  font-weight: bold;
//  font-style: normal;
//}

