.reasons {

  .grid-container {
    padding-right: 1.375rem;
    padding-left: 1.375rem;
  }
  text-align: left;
  .number {
    font-size: 50px;
    text-align: left;
    color: #1165DC;
    font-family: VinylRegular;
    p {
      width: 100%;
      text-align: left;
    }
    &__opt-num {
      opacity: 0.1;
      text-align: left;
    }
  }

  &__content {
    font-size: 15px;
    p {
      width: 70%;
      text-align: left;
    }

    img {
      padding: 10px 0;
    }
  }

  &__title {
    text-align: left;
  }
  .text {
    padding-left: 20%;
    text-align: right;
    .number {
      p {
        width: 100%;
        text-align: right;
      }
    }

    p {
      text-align: right;
      width: 100%;
      font-family: 'Montserrat-Regular', sans-serif;
    }
  }

  &__left-image {
    width: 53%;
    position: relative;
    height: 240px;
    background-position: left;
    left: 0;
    z-index: 1;
    @include bg-image
  }
  @include breakpoint(medium) {
    h2 {
      font-size: 1.5rem;
    }

    &__content {
      img {
        padding: 0 10px;
      }
    }

    &__left-image {
      width: 46%;
      height: 350px;
    }

  }
  @include breakpoint(large) {

    .grid-container {
      padding-right: 9.375rem;
      padding-left: 9.375rem;
    }

    h2 {
      font-size: 2.5rem;
    }

    &__content {
      img {
        padding: 20px 10px;
      }
    }

    &__left-image {
      width: 30%;
      height: 450px;
    }
    .number {
      font-size: 150px;
      text-align: center;
      p {
        width: 100%;
        text-align: left;
      }
      &__opt-num {
        opacity: 0.1;
        text-align: left;
      }
    }
    .cell {
      padding: 40px 0;
    }
  }
}