.videos {
  &__title {
    text-transform: uppercase;
    font-size: 30px;
    margin-left:15%;
  }

  &__verticle-text {
    position: absolute;
    transform: rotate(-90deg);
    top: 18%;
    left: 0 !important;
    h2{
      font-size: 10px;
    }
  }
.video-category {
  position: relative;
  z-index: 2;
  margin-top: 30px;
  margin-left:10%;
}
  .video-card {
    cursor: pointer;
    margin-bottom: 35px;


    &__content {
      padding:20px 20px;
      .wrapper {
        border-bottom: 1px solid #E6E7E8;
        padding-bottom: 20px;
        margin-top: 4px;
      }

      .info {
        width: calc(100% - 32px);

        h4 {
          text-transform: uppercase;
          margin-bottom: 2px;
        }
      }

      .arrow {
        font-size: 20px;
        color: #1165DC;
      }
    }
  }

  @include breakpoint(medium){
    &__title {
      font-size:45px;
      margin-left:20%;
    }

    &__verticle-text {
      top:50%;
     h2{
       font-size:38px;
     }
    }
    .video-card{
      margin-left:20%;
      &__image {
        padding:0 20px;
      }

      &__content {
        padding:20px 30px;
        .arrow {
          font-size: 30px;
        }
      }
    }
  }
  @include breakpoint(large){
    &__title {
      font-size:68.5px;

    }

    &__verticle-text{
      top:62%;
      h2{
        font-size:47.5px;
      }
    }
  }
}