.hero {
  position: relative;
  min-height: 800px;
  overflow: hidden;

  &__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 800px;
    height:auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
    @include bg-image
  }

  &__content {
    position: relative;
    padding-top: 50%;

    h1 {
      font-size: 35px;
      width: 100%;
      color: $white;
    }

    h3 {
      color: $white;
    }

    p {
      font-size: 30px;
      font-weight: bold;
      width: 90%;
      color: $white;
    }
  }

  @include breakpoint(medium) {

    &__content {
      padding-top: 15%;

      h1 {
        font-size: 70px;
        width: 60%;
      }

      p {
        font-size: 40px;
        width: 30%;
      }
    }
  }

  @include breakpoint(large) {

    &__content {
      padding-top: 15%;

      h1 {
        font-size: 70px;
        width: 60%;
      }
      p {
        font-size: 40px;
        width: 30%;
      }
    }
  }
}



