.footer{
  text-align: center;
  padding-top: 5px;
  position: relative;
  width: 100%;
  min-height: 800px;
  height:auto;


  &__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 800px;
    height:auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
    @include bg-image
  }

  &__top-content {
    position:absolute;
    z-index: 1;
    color :$white;
    text-align: center;
    font-size: 25px;
    width:100%;
    padding: 30px 20px;
    padding-top: 45px;
    p{
      text-align: center;
    }
    .p1 {
      text-transform: uppercase;
      font-size: 20px;
    }
  }
  &__content {
    padding: 20px 0 ;
    position:absolute;
    z-index: 1;
    bottom:0;
    width: 100%;
    background-color: #0F2854;
    min-height: 150px;
    height:auto;

    &-logo {
      //text-align:left;
      ul {
        li {
          list-style:none;
          display:inline-block;
          margin-left:20px;

          img {
            width:90px;
            height:50px;
            max-width: 100%;
          }
        }

        li:first-child {
          margin-left:0;
        }
      }
    }

    &-social-link {
      //text-align: right;
      font-size: 25px;
      ul{
        li {
          list-style: none;
          display:inline-block;
          margin-left:30px;
        }
      }
    }

    &-link {
      text-align: left;
      p {
        color:$white;
      }
      ul {
        li {
          list-style: none;
          display:inline-block;
        }
      }
    }
  }
@include breakpoint(medium) {

}

  @include breakpoint(large) {
    &__top-content {
      p{
        width:50%;
        text-align: center;
      }
      .p1 {
        font-size: 20px;
      }
    }
    &__content {
      &-logo {
        text-align:left;
        ul {
          li {
            display:inline-block;
            margin-left:30px;

            img {
              width:150px;
              height:50px;
              max-width: 100%;
            }
          }


        }
      }

      &-social-link {
        text-align: right;
        font-size: 25px;
        ul{
          li {
            display:inline-block;
            margin-left:30px;
          }
        }
      }

      &-link {
        ul {
          li {
            display:inline-block;
          }
        }
      }


    }
  }
}