.header {
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  position : absolute;
  right:0;
  left:0;
  z-index:  1;

  &__content {
    .content-right {
      margin: 0;
      padding: 0;
      overflow: hidden;
      padding-top: 20px;

      &.hamburger {
        width: 20px;
        height: 18px;
        display: block;
        position: relative;
      }

      h2{
        text-transform:uppercase;
        text-align: right;
        font-size: 13px;
        color :$white;
      }

  .line {
    display: block;
    background: $white;
    height: 3px;
    width: 100%;
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 0;
  }

  .line-2 {
    top: 7px;
  }

  .line-3 {
    top: 14px;
  }
    }
  }

  &.hamburger {
    width: 25px;
    height: 18px;
    display: block;
    position: relative;
  }

  &.menu {
    display: none;
  }

  @include breakpoint(medium) {
    &__content {
      .content-right {
        &.hamburger {
          width: 25px;
        }

        h2{

        }
      }
    }

    &.hamburger {
      width: 25px;
      height: 18px;
    }

    &.menu {
      display: none;
    }
  }

  @include breakpoint(large) {
    &__content {
      .content-right {
        &.hamburger {
          width: 30px;
        }

        h2{
          font-size: 35px;
        }
      }
    }
    &.menu {
      display: none;
    }
  }

  &.subheader {
position: relative;
  }
}
